{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <table id="table1" id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">ComputerName</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">SerialNumber</th>
          <th scope="col">Responsible/User</th>
          <th scope="col">CheckedDate</th>
          <th scope="col">Asset No</th>
          <th scope="col">Detail</th>
          <th scope="col">PDF</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in issues %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.asset_id.asset_choices}}</td>
          <td>{{item.asset_id.asset_name}}</td>
          <td>{{item.asset_id.brand}}</td>          
          <td>{{item.asset_id.model}}</td>
          <td>{{item.asset_id.serial}}</td>
          <td>{{item.user_id}}</td>
          <td>{{item.checked_date|date:'Y-m-d'}}</td>
          <td>{{item.asset_id.asset_no}}</td>
          <td>
            <div class='text-left'>             
                <a href="#" class='btn btn-success'>Detail</a>
                
              </div>

          </td>          
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'GeneratePDFComputerReceiveReturn' item.asset_id.id item.id %}" class='btn btn-warning'>พิมพ์</a>  
              </div>
          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}