{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm"> 
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asset ID</th>
          <th scope="col">PM_Date</th>
          <th scope="col">Preventive By</th>
          <th scope="col">Hardware_Status</th>
          <th scope="col">Comment</th>
          <th scope="col">Detail</th>
          <th scope="col">PDF</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in pmcomputers %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.asset_id}}</td>
          <td>{{item.pm_date|date:'Y-m-d'}}</td>
          <td>{{item.pm_by}}</td>
          <td>{{item.hardware_status_value}}</td>
          <td>{{item.comment_value}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewpmcomputersuccessdetail' item.id %}" class='btn btn-success' >View</a>  
            </div>
          </td>

          <td>         
            <div class='text-left'>             
                <a target = "_blank" href="{% url 'GeneratePDFPMComputer' item.id item.asset_id.id  %}" class='btn btn-warning'>Open</a>  
            </div>
          </td>
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  

  
  {% endblock %}