{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}    
    <br>    
    <form method="POST" action="/preventive/allplanbymonth" id="form_searchbydate">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-3">
                วันที่เริ่ม : <input class="form-control" type="date" id="startdate" name="startdate" >
                    
            </div>
            <div class="col-3">
                  ถึง : <input class="form-control" type="date" id="enddate" name="enddate" >
            </div>
            <div class="col-2">
                <br>
                <button type = "submit" class='btn btn-primary' name ="form_searchbydate">ค้นหา</button>
            </div>
        </div>
    </form>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Status</th>
            <th scope="col">TypeLocation</th>
            <th scope="col">ItemType</th>
            <th scope="col">HostName</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">S/N</th>
            <th scope="col">Location</th>
            <th scope="col">PMครั้งถัดไป</th>
            <th scope="col">จำนวนวันก่อน PM</th>
            <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in assets %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><span class="badge badge-{% if item.status == 'เลยวันPM' %}danger{% elif item.status == 'ใกล้ถึงวันPM' %}warning{% elif item.status == 'ถึงวันPM' %}primary{% endif %}">{{item.status}}</span></td>
            <td>{{item.type_location_value}}</td>
            <td>{{item.item_code}}</td>
            <td>{{item.asset_name}}</td>
            <td>{{item.brand}}</td>
            <td>{{item.model}}</td>
            <td>{{item.serial}}</td>
            <td>{{item.location}}</td>
            <td>{{item.pm_date_next|date:'Y-m-d'}}</td>
            <td>{{item.date_diff}}</td>
          <td>         
            <div class='text-left'>             
                <a href="#" class='btn btn-info'>Detail</a>
              </div>
          </td>

        </tr>
        {% endfor %}
  
      </tbody>
    </table>

  
  {% endblock %}