{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2"> 
          <div class="card-icon shadow-info bg-info">
            <i class="fas fa-desktop"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>PM All</h4>
            </div>
            <div class="card-body">
              <a class="nav-link" href="{% url 'allpmcomputer' %}">Computer</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2"> 
          <div class="card-icon shadow-info bg-info">
            <i class="fas fa-laptop"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>PM All</h4>
            </div>
            <div class="card-body">
              <a class="nav-link" href="{% url 'allpmlaptop' %}">Laptop</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card card-statistic-2"> 
          <div class="card-icon shadow-info bg-info">
            <i class="fas fa-print"></i>
          </div>
          <div class="card-wrap">
            <div class="card-header">
              <h4>PM All</h4>
            </div>
            <div class="card-body">
              <a class="nav-link" href="{% url 'allpmprinter' %}">Printer</a>
            </div>
          </div>
        </div>
      </div>
    <!-- <br>
    <br>
    <table id="table1" class="table table-hover table-sm"> 
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">TypeLocation</th>
          <th scope="col">ItemCode</th>
          <th scope="col">HostName</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">S/N</th>
          <th scope="col">Location</th>
          <th scope="col">StartDate</th>
          <th scope="col">Expiredate</th>
          <th scope="col">PMครั้งถัดไป</th>
          <th scope="col">Detail</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in assets %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.type_location_value}}</td>
          <td>{{item.item_code}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.location}}</td>
          <td>{{item.warranty_startdate|date:'Y-m-d'}}</td>
          <td>{{item.warranty_expiredate|date:'Y-m-d'}}</td>
          <td>{{item.pm_date_next|date:'Y-m-d'}}</td>
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewassetdetail' item.id %}" class='btn btn-info'>Detail</a>
                 <a href="#" class='btn btn-info'>Detail</a> -->
              <!-- </div>

          </td>
        </tr>
        {% endfor %}
  
      </tbody>
    </table> -->
  

  
  {% endblock %}