{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}

    <a href='{% url "createaccessorie" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Accessorie</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">itemcode</th>
          <th scope="col">ชื่อ</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">QTY</th>
          <th scope="col">เบิก</th>
          <th scope="col">คงเหลือ</th>          
          <th scope="col">ราคา/หน่วย</th>
          <th scope="col">location</th>
          <th scope="col">รายละเอียด</th>
          <th scope="col">Checkout</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in accessories %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.itemcode}}</td>
          <td>{{item.accessorie_name}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.iss_qty}}</td>
          <td>{{item.balance}}</td>          
          <td>{{item.purchase_cost}}</td>
          <td>{{item.location}}</td>
          <td>                  
            <div class='text-left'>             
                <a href="{% url 'viewaccessorie' item.id %}" class='btn btn-info'>Detail</a>               
              </div>
          </td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'IssueAccessorieUser' item.id %}" class='btn btn-danger'>Checkout</a>               
              </div>
          </td>
          
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  
  {% endblock %}