{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createasset" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Asset</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ItemCode</th>
          <th scope="col">AssetType</th>
          <th scope="col">HostName</th>
          <th scope="col">AssetNo</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">S/N</th>
          <th scope="col">Status</th>
          <th scope="col">สถานะคงอยู่</th>
          <th scope="col">แสดงรายละเอียด</th>
          <th scope="col">Software Check</th>
          <th scope="col">จ่ายออก</th>
          <th scope="col">คืนเข้า</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in assets %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.item_code}}</td>
          <td>{{item.asset_choices}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.asset_no}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.assetstatus_type}}</div></td>
          <td><div class="badge badge-pill badge-{%if item.status_check_in_out_value == 'Stock' %}success{% else %}danger{% endif %} mb-1">{{item.status_check_in_out_value}}</div></td>
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewasset' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>

          </td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'AssetForSoftware' item.id %}" class='btn btn-warning' >SoftwareList</a>          
              </div>
          </td>
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'IssueAssetUser' item.id %}" class='btn {% if item.check_in_out == 0 %}disabled{% endif %} btn-danger'>CheckOut</a>
              </div>

          </td>

          <td>         
            <div class='text-left'>             
                <a href="{% url 'checkout_asset' item.id %}" class='btn btn-success'>CheckIn</a>               
              </div>
          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}