{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createconsumable" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New consumable</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">itemcode</th>
          <th scope="col">ชื่อเรียก</th>
          <th scope="col">ประเภท</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">QTY</th>
          <th scope="col">ยอดเบิก</th>
          <th scope="col">คงเหลือ</th>
          <th scope="col">Detail</th>
          <th scope="col">Checkout</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in consumables %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.itemcode}}</td>
          <td>{{item.consumable_name}}</td>
          <td>{{item.consumable_catagory_value}}</td> 
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.consumable_qty}}</td>
          <td>{{item.balance}}</td>  
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewconsumable' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>

          </td>       
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'IssueConsumableUser' item.id %}" class='btn btn-danger'>Checkout</a>
                
              </div>

          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}