{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createleases" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Leases</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ประเภท</th>
          <th scope="col">รายการสัญญา</th>
          <th scope="col">รายละเอียด</th>
          <th scope="col">จำนวน</th>
          <th scope="col">อายุสัญญา(M)</th>
          <th scope="col">ผู้ผลิต</th>
          <th scope="col">Supplier</th>
          <th scope="col">วันที่เริ่มสัญญา</th>
          <th scope="col">วันหมดสัญญา</th>
          <th scope="col">จน.วันที่เหลือ</th>
          <th scope="col">รายละเอียด</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in leases %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.leasestype_choices}}</td>
          <td>{{item.leases_name}}</td>
          <td>{{item.description|truncatechars:50}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.contract_period}}</td>
          <td>{{item.manufacturer}}</td>
          <td>{{item.suppiler}}</td>
          <td>{{item.warranty_startdate|date:'Y-m-d'}}</td>
          <td>{{item.warranty_expiredate|date:'Y-m-d'}}</td>
          <td><div class="badge badge-{% if item.status <= 0 %}danger{% elif item.status <= 60 %}warning{%endif%}">{{item.status}}</div></td>

          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewleasesdetail' item.id %}" class='btn btn-info'>Detail</a>
                <!-- <a href="#" class='btn btn-info'>Detail</a> -->
                
              </div>

          </td>          
          
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}