{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createlicenses" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Licenses</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">software_name</th>
          <th scope="col">software_categorie</th>
          <th scope="col">product_key</th>
          <th scope="col">qty</th>
          <th scope="col">warranty_expiredate</th>
          <th scope="col">warranty_startdate</th>
          <th scope="col">จน.วันก่อนหมดอายุ</th>
          <th scope="col"></th>
  
  
        </tr>
      </thead>
      <tbody>
        {% for item in licenses %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.software_name}}</td>
          <td>{{item.software_categorie_type}}</td>
          <td>{{item.product_key}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.warranty_expiredate|date:'Y-m-d'}}</td>
          <td>{{item.warranty_startdate|date:'Y-m-d'}}</td>
          <td><div class="badge badge-{% if item.status <= 0 %}danger{% elif item.status <= 60 %}warning{% endif %}">{{item.status}}</div></td>
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewlicenses' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>

          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}