{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createmaintenance" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i>New Miantenance</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asset No</th>
          <th scope="col">MaintenanceType</th>
          <th scope="col">Title</th>
          <th scope="col">StartDSate</th>
          <th scope="col">CompietionDate</th>
          <th scope="col">Notes</th>
          <th scope="col">Waranty</th>
          <th scope="col">Cost</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
        {% for item in maintenances %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.asset_no}}</td>
          <td>{{item.maintenance_type_value}}</td>
          <td>{{item.title}}</td>
          <td>{{item.start_date|date:'Y-m-d'}}</td>
          <td>{{item.compietion_date|date:'Y-m-d'}}</td>
          <td>{{item.notes}}</td>
          <td>{{item.waranty}}</td>
          <td>{{item.cost}}</td>
          <td>         
            
            <div class='text-left'>             
                <!-- <a href="{% url 'viewlicenses' item.id %}" class='btn btn-info'>Detail</a> -->
                <a href="{% url 'viewmaintenancedetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>

          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}