{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createasset" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Asset</a>
    <br>
    <br>
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">item_code</th>
          <th scope="col">asset_type</th>
          <th scope="col">asset_name</th>
          <th scope="col">asset_no</th>
          <th scope="col">brand</th>
          <th scope="col">model</th>
          <th scope="col">serial</th>
          <th scope="col">status</th>
          <th scope="col">รายละเอียด</th>
          <th scope="col">จ่ายออก</th>
          <th scope="col">คืนเข้า</th>
  
        </tr>
      </thead>
      <tbody>
        {% for item in switch %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.item_code}}</td>
          <td>{{item.asset_choices}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.asset_no}}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.assetstatus_type}}</td>

          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'viewasset' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>

          </td>          
          <td>         
            
            <div class='text-left'>             
                <a href="{% url 'IssueAssetUser' item.id %}" class='btn btn-danger'>CheckOut</a>
                
              </div>

          </td>

          <td>         
            <div class='text-left'>             
                <a href="#" class='btn btn-success'>CheckIn</a>               
              </div>
          </td>
         
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}