{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <br>
  
    {% if error %}
    <br>
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <br>
    {% endif %}
  
  
    <form enctype="multipart/form-data" method="POST" action="">
      {% csrf_token %}
      
      <table>
        {{ form.as_table }}
          <tr>
            <td><h6><label for="id_itemcode">Itemcode:</label> </h6></td>
            <td>
              <select name="itemcode" class="form-control" required="" id="id_itemcode">
                <option value="" selected="">---------</option>
                {% for item in accessorieitems %}
                <option value="{{item.id}}">{{item.item_name}}</option>

                {% endfor %}
            </select>
        </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Create" class="btn btn-primary" /></td>
        </tr>
      </table>
    </form>
  
    <br>
    <br>
  
  </div>
  
  
  {% endblock %}