{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <br>
    <h4>อุปกรณ์เบิก : {{item_name}}</h4>
    <br>
    {% if error %}
    <br>
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <br>
    {% endif %}
  
  
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Seve" class="btn btn-primary" /></td>
        </tr>
      </table>
    </form>
  
    <br>
    <br>
  
  </div>
{% endblock %}