{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
<div class='container'>
    <br>
    
    <!-- <h6>Fixed Assets : {{item_name}}</h6><br>
    <h6>Brand : {{brand}}</h6><br>
    <h6>Model : {{model}}</h6><br>
    <h6>Serial : {{serial}}</h6><br>
    <h6>Host Name : {{asset_name}}</h6><br>
    <h6>Asset No : {{asset_no}}</h6><br> -->

    {% if error %}
    <br>
    <div class="alert alert-danger" role="alert">
      {{error}}
    </div>
    <br>
    {% endif %}
  
  
    <form method="POST">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Seve" class="btn btn-primary" /></td>
        </tr>
      </table>
    </form>
  
    <br>
    <br>
  
  </div>
{% endblock %}