{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>IT Stock &mdash; System</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href='{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}'>
  <link rel="stylesheet" href='{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}'>
  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          
          
        </form>      
    </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index.html">IT Stock</a>
            
          </div>
          <div class="sidebar-brand sidebar-brand-sm">
            <a href="index.html">St</a>
          </div>
          <ul class="sidebar-menu"> <!-- เมนูด้านซ้าย -->
              <li class="menu-header">Dashboard</li>
              <li class="active"><a class="nav-link" href="blank.html"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>

              <li class="menu-header">Starter</li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-laptop"></i> <span>Assets</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'viewallasset' %}"><i class="fas fa-stream"></i>All Assets</a></li>
                  <li><a class="nav-link" href="{% url 'viewallcomputer' %}"><i class="fas fa-desktop"></i></i>Computer PC</a></li>
                  <li><a class="nav-link" href="{% url 'viewalllaptop' %}"><i class="fas fa-laptop"></i>Notebook</a></li>
                  <li><a class="nav-link" href="{% url 'viewallprinter' %}"><i class="fas fa-print"></i>Printer</a></li>
                  <li><a class="nav-link" href="{% url 'viewallswitch' %}"><i class="fas fa-server"></i>Switch</a></li>
                  <li><a class="nav-link" href="{% url 'viewallaccesspoint' %}"><i class="fas fa-satellite-dish"></i>Access Point</a></li>
                  <li><a class="nav-link" href="{% url 'viewallmonitor' %}"><i class="fas fa-tv"></i></i>Monitor</a></li>
                  <li><a class="nav-link" href="{% url 'viewallissueasset' %}"><i class="fas fa-user-check"></i></i>Issue Asset</a></li>
                </ul>
              </li>
              
              <li class="active"><a class="nav-link" href="{% url 'viewalllicenses' %}"><i class="fas fa-file"></i> <span>Licenses</span></a></li>
              <li class="active"><a class="nav-link" href="{% url 'viewallaccessorie' %}"><i class="fas fa-keyboard"></i> <span>Accessories</span></a></li>
              <li class="active"><a class="nav-link" href="{% url 'viewallconsumable' %}"><i class="fas fa-print"></i></i> <span>Consumables</span></a></li>
              <li class="active"><a class="nav-link" href="{% url 'viewallcomponent' %}"><i class="fas fa-memory"></i><span>Components</span></a></li>

              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-building"></i> <span>Stock</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'allstocksummary' %}"><i class="fas fa-file"></i>Summary Stock</a></li>
                  <li><a class="nav-link" href="#"><i class="fas fa-file-alt"></i>Record Stock</a></li>
                  <li><a class="nav-link" href="#"><i class="fas fa-list-alt"></i></i>Record Cost</a></li>
                  <li><a class="nav-link" href="{% url 'summarizmonth' %}"><i class="fas fa-list-alt"></i></i>Summarize Month</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-file-alt"></i> <span>Leases</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'viewallleases' %}"><i class="fas fa-stream"></i>All Leases</a></li>
                  <li><a class="nav-link" href="{% url 'viewallleasesprinter' %}"><i class="fas fa-print"></i>Printer paper</a></li>
                  <li><a class="nav-link" href="{% url 'viewallleaseslicenses' %}"><i class="fas fa-address-card"></i></i>Licenses</a></li>
                  <li><a class="nav-link" href="{% url 'viewallleasesline' %}"><i class="fas fa-satellite-dish"></i>Lease Line</a></li>
                  <li><a class="nav-link" href="{% url 'viewallleasesdomain' %}"><i class="fas fa-database"></i>Domain</a></li>
                  <li><a class="nav-link" href="#"><i class="fas fa-sticky-note"></i>SSL</a></li>
                </ul>
              </li>

              <li class="active"><a class="nav-link" href="{% url 'viewallmaintenance' %}"><i class="fas fa-tools"></i><span>Asset Maintenance</span></a></li>
              <!-- <li class="active"><a class="nav-link" href="#"><i class="fas fa-plug"></i><span>Preventive Maintenance</span></a></li>  -->
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-plug"></i> <span>Preventive Maintenance</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'allassetpm' %}"><i class="fas fa-calendar-alt"></i>Setting Plan PM</a></li>
                  <li><a class="nav-link" href="{% url 'allassetpmatdate' %}"><i class="fas fa-file-alt"></i></i>All PM</a></li>
                  <li><a class="nav-link" href="{% url 'allplanpmbymonth' %}"><i class="fas fa-bell"></i>Plan PM</a></li>
                  <li><a class="nav-link" href="{% url 'pmsuccess' %}"><i class="fas fa-tasks"></i>Success PM</a></li>
                  <li><a class="nav-link" href="{% url 'allpmcomputersuccess' %}"><i class="fas fa-tasks"></i>Computer Finish</a></li>
                </ul>
              </li>    
              
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-folder-open"></i> <span>Master Data</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'viewalluser' %}"><i class="fas fa-user-alt"></i>User</a></li>
                  <li><a class="nav-link" href="{% url 'viewalldepartment' %}"><i class="fas fa-file-alt"></i></i>Department</a></li>
                  <li><a class="nav-link" href="{% url 'viewallitemcode' %}"><i class="fas fa-list"></i>ItemCode</a></li>
                  <li><a class="nav-link" href="{% url 'viewallsoftware' %}"><i class="fas fa-copy"></i>Software List</a></li>
                  <li><a class="nav-link" href="{% url 'viewallmanufacturer' %}"><i class="fas fa-city"></i>Manufacturer</a></li>
                  <li><a class="nav-link" href="{% url 'viewallsupplier'%}"><i class="fas fa-id-card"></i>Supplier</a></li>
                  <li><a class="nav-link" href="{% url 'viewalllocation' %}"><i class="fas fa-building"></i>Location</a></li>
                </ul>
              </li>   
              <li class="nav-item dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-file-alt"></i> <span>Report</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{% url 'hardwardinventory' %}"><i class="fas fa-address-book"></i>HardwareInventory</a></li>
                  <li><a class="nav-link" href="#"><i class="fas fa-address-book"></i>Stock</a></li>
                  <li><a class="nav-link" href="{% url 'alluserbydepartment' %}"><i class="fas fa-user-circle"></i>UserByDepartment</a></li>
                  <li><a class="nav-link" href="{% url 'alluserbydate' %}"><i class="fas fa-address-book"></i>Create User</a></li>
                  <li><a class="nav-link" href="{% url 'allnormalasset' %}"><i class="fas fa-desktop"></i>Normal Asset</a></li>
                  <li><a class="nav-link" href="{% url 'alldamageasset' %}"><i class="fas fa-frown"></i>Damage Asset</a></li>
                  <li><a class="nav-link" href="{% url 'allmaintenanceasset' %}"><i class="fas fa-tools"></i>Repair Asset</a></li>
                  <li><a class="nav-link" href="{% url 'alllicenses' %}"><i class="fas fa-paste"></i>Licenses</a></li>
                  <!-- <li><a class="nav-link" href="#"><i class="fas fa-file-alt"></i></i>Department</a></li>
                  <li><a class="nav-link" href="#"><i class="fas fa-list"></i>ItemCode</a></li> -->
                </ul>
              </li> 

            <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
              {% if user.is_authenticated %}
              <li class="nav-label"> Hi, {{user.first_name}} {{user.last_name}}</li>
              {% else %}
              <li class="nav-label"> Not login</li>
              {% endif %}

              <form class="form-inline my-2 my-lg-0 ml-auto" method='POST' action='{% url 'logoutuser' %}'>
                {% csrf_token %}                                                                        
                <button class="btn btn-danger my-2 my-sm-0" type="submit">Log Out</button>
            </form>
                                    

            </div>
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>{{ pageTitle }}</h1>
          </div>

          {% block content %}

          {% endblock %}

          <div class="section-body">
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2020 <div class="bullet"></div> Design By Warunya Kachapoch</a>
        </div>
        <div class="footer-right">
          1.0.0
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'assets/jquery/jquery.min.js' %}" ></script>
  <script src="{% static 'plugins/popper/umd/popper.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- DataTables -->
  <script src='{% static "plugins/datatables/jquery.dataTables.min.js" %}'></script>
  <script src='{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}'></script>
  <script src='{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}'></script> 
  <script src='{% static "plugins/datatables-responsive/js/responsive.bootstrap4.min.js" %}'></script>  

  <!-- JS Libraies -->

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- Page Specific JS File -->
<!-- page script -->
  <script>
    $(function() {
      $("#table1").dataTable({
        "responsive": true,
        "autoWidth": false,
        "ordering": true,
        // "order": [
        //    [0, "ASC"]
        //  ],
      });
      $('#table2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
      $(document).ready(function () {
      $('#dtOrderExample').DataTable({
      "order": [[ 3, "desc" ]]
      });
      $('.dataTables_length').addClass('bs-select');
      });
    });
  </script>


</body>
</html>
