{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createdepartment" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New User</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Department</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in departments %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.department_name}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewdepartmentdetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>          

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}