{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createsoftware" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Software</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Software Name</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in softwares %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewsoftwaredetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>          

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}