{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createmanufacturer" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Manufacturer</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">URL</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Image</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in manufacturers %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.support_url}}</td>
          <td>{{item.support_phone}}</td>
          <td>{{item.support_email}}</td>
          <td>{{item.image}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewmanufacturerdetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>          

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}