{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createitemcode" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New ItemCode</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ItemCode</th>
          <th scope="col">ItemName</th>
          <th scope="col">Category</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in itemcodes %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.item_code}}</td>
          <td>{{item.item_name}}</td>
          <td>{{item.category_choices_value}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewitemcodedetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>          

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}