{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createsupplier" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New Supplier</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Mobile Phone</th>
          <th scope="col">Office Phone</th>
          <th scope="col">fax</th>
          <th scope="col">Email</th>
          <th scope="col">เงื่อนไขการชำระเงิน(วัน)</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in suppliers %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.supplier_name}}</td>
          <td>{{item.address}}</td>
          <td>{{item.mobile_phone}}</td>
          <td>{{item.office_phone}}</td>
          <td>{{item.fax}}</td>
          <td>{{item.email}}</td>
          <td>{{item.termofpayment_choices_value}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewsupplierdetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>          

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}