{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <a href='{% url "createuser" %}' class='btn btn-primary'><i class="nav-icon fas fa-plus"></i> New User</a>
    <br>
    <br>
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Username</th>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col">Division</th>
          <th scope="col">Email</th>
          <th scope="col">Detail</th>
          <th scope="col">PDF</th>

        </tr>
      </thead>
      <tbody>
        {% for item in users %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.position}}</td>
          <td>{{item.department}}</td>
          <td>{{item.division_choices_value}}</td>
          <td>{{item.email}}</td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'viewuserdetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'GeneratePDFUserDomain' item.username %}" class='btn btn-warning'>เปิด</a>
                
              </div>
          </td>         

        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}