{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Warranty</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">SerialNumber</th>
          <th scope="col">ComputerName</th>
          <th scope="col">DeviceType</th>
          <th scope="col">WH</th>
          <th scope="col">IP_Address</th>
          <th scope="col">LAN_MAC_Address</th>
          <th scope="col">WLAN_MAC_Address</th>
          <th scope="col">Responsible/User</th>
          <th scope="col">Status</th>
          <th scope="col">Warranty_StartDate</th>
          <th scope="col">Warranty_ExpireDate</th>
          <th scope="col">Date Left</th>
          <th scope="col">Year</th>
          <th scope="col">Month</th>
          <th scope="col">Day</th>
        </tr>
      </thead>
      <tbody>
        {% for item in allusers %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>         
          <!-- <div class="badge badge-pill badge-{% if item.diff_date < 0 %}danger{% else %}success{% endif %}">{item.warranty_status}</div> -->
          <td>{% if item.diff_date < 0 %}<div class="badge badge-pill badge-danger">No</div>{% else %}<div class="badge badge-pill badge-success">Yes</div>{% endif %}</td>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.asset_type}} </td>
          <td>{{item.department}}</td>
          <td>{{item.ip_address_1}}</td>
          <td>{{item.mac_address_lan_1}}</td>
          <td>{{item.mac_address_wifi}}</td>
          <td>{{item.username}}</td>
          <td>{{item.status}}</td>
          <td>{{item.warranty_startdate|date:'d-m-Y'}}</td>
          <td>{{item.warranty_expiredate|date:'d-m-Y'}}</td>
          <td>{{item.diff_date}}</td>
          <td>{{item.year}}</td>
          <td>{{item.month}}</td>
          <td>{{item.day}}</td>
                  
        </tr>
        {% endfor %}   
      </tbody> 
    </table>

  
  {% endblock %}