{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <br>
    <form method="POST" action="/reportuser/createuser" id="form_searchbydate">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-3">
                วันที่เริ่ม : <input class="form-control" type="date" id="startdate" name="startdate" >
                    
            </div>
            <div class="col-3">
                  ถึง : <input class="form-control" type="date" id="enddate" name="enddate" >
            </div>
            <div class="col-2">
                <br>
                <button type = "submit" class='btn btn-primary' name ="form_searchbydate">ค้นหา</button>
            </div>
        </div>
    </form>
   
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Username</th>
          <th scope="col">Position</th>
          <th scope="col">Department</th>
          <th scope="col">Division</th>
          <th scope="col">Email</th>
          <th scope="col">Create Date</th>
          <th scope="col">Detail</th>

        </tr>
      </thead>
      <tbody>
        {% for item in users %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.first_name}}</td>
          <td>{{item.last_name}}</td>
          <td>{{item.username}}</td>
          <td>{{item.position}}</td>
          <td>{{item.department}}</td>
          <td>{{item.division_choices_value}}</td>
          <td>{{item.email}}</td> 
          <td>{{item.created_at|date:'d-m-Y'}}</td>
          <td>         
            <div class='text-left'>             
                <a href="#" class='btn btn-info'>Detail</a>
                
              </div>
          </td>
          <!-- <td>         
            <div class='text-left'>             
                <a href="{% url 'viewuserdetail' item.id %}" class='btn btn-info'>Detail</a>
                
              </div>
          </td>
          <td>         
            <div class='text-left'>             
                <a href="{% url 'GeneratePDFUserDomain' item.username %}" class='btn btn-warning'>เปิด</a>
                
              </div>
          </td>          -->

        </tr>
        {% endfor %} 
  
      </tbody>
    </table>

  
  {% endblock %}