{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}   
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">NO</th>
          <th scope="col">Software_Name</th>
          <th scope="col">Version</th>
          <th scope="col">Software_Type</th>
          <th scope="col">QTY</th>
          <th scope="col">Vendor</th>
        </tr>
      </thead>
      <tbody>
        {% for item in licenses %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.software_name}}</td>
          <td>{{item.software_version}}</td>
          <td>{{item.software_categorie_type}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.suppiler}}</td>
        </tr>
        {% endfor %} 
  
      </tbody>
    </table>

  
  {% endblock %}