{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <table id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">SerialNumber</th>
          <th scope="col">ComputerName</th>
          <th scope="col">DeviceType</th>
          <th scope="col">IP_Address</th>
          <th scope="col">LAN_MAC_Address</th>
          <th scope="col">WLAN_MAC_Address</th>
          <th scope="col">Warranty_Startdate</th>
          <th scope="col">Warranty_Expiredate</th>
          <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        {% for item in assets %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.asset_choices}}</td>
          <td>{{item.ip_address_1}}</td>
          <td>{{item.mac_address_lan_1}}</td> 
          <td>{{item.mac_address_wifi}}</td> 
          <td>{{item.warranty_startdate|date:'d-m-Y'}}</td>
          <td>{{item.warranty_expiredate|date:'d-m-Y'}}</td>
          <td>{{item.status_check_in_out_value}}</td>
        </tr>
        {% endfor %} 
  
      </tbody>
    </table>

  
  {% endblock %}