{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <br>
    <form method="POST" action="/reportasset/maintenances" id="form_searchbydate">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-3">
                วันที่เริ่ม : <input class="form-control" type="date" id="startdate" name="startdate" >
                    
            </div>
            <div class="col-3">
                  ถึง : <input class="form-control" type="date" id="enddate" name="enddate" >
            </div>
            <div class="col-2">
                <br>
                <button type = "submit" class='btn btn-primary' name ="form_searchbydate">ค้นหา</button>
            </div>
        </div>
    </form>
   
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Asset_Name</th>
          <th scope="col">Asset_Tag</th>
          <th scope="col">MaintenanceType</th>
          <th scope="col">Title</th>
          <th scope="col">StartDate</th>
          <th scope="col">CompletionDate</th>
          <th scope="col">Notes</th>
          <th scope="col">Cost</th>

        </tr>
      </thead>
      <tbody>
        {% for item in assets %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.asset_no.asset_name}}</td>
          <td>{{item.asset_no.asset_no}}</td>
          <td>{{item.maintenance_type_value}}</td>
          <td>{{item.title}}</td>
          <td>{{item.start_date|date:'d-m-Y'}}</td>
          <td>{{item.compietion_date|date:'d-m-Y'}}</td>
          <td>{{item.notes}}</td> 
          <td>{{item.cost}}</td>
         

        </tr>
        {% endfor %} 
  
      </tbody>
    </table>

  
  {% endblock %}