{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    
    <table id="table1" id="table1" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Brand</th>
          <th scope="col">Model</th>
          <th scope="col">SerialNumber</th>
          <th scope="col">ComputerName</th>
          <th scope="col">DeviceType</th>
          <th scope="col">WH</th>
          <th scope="col">IP_Address</th>
          <th scope="col">LAN MAC Address</th>
          <th scope="col">WLAN MAC Address</th>
          <th scope="col">Fix AssetNo.</th>
          <th scope="col">User</th>
          <th scope="col">Status</th>
          <th scope="col">StartDate</th>
          <th scope="col">ExpireDate</th>
            
        </tr>
      </thead>
      <tbody>
        {% for item in computers %}
        <tr>
          <th scope="row">{{item.id}}</th>
          <td>{{item.brand}}</td>
          <td>{{item.model}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.asset_name}}</td>
          <td>{{item.asset_type}}</td>
          <td>{{item.location}}</td>
          <td>{{item.serial}}</td>
          <td>{{item.assetstatus_type}}</td>

          <td>         
            
            <div class='text-left'>             
                <a href="#" class='btn btn-info'>Detail</a>
                
              </div>

          </td>          
        </tr>
        {% endfor %}
  
      </tbody>
    </table>
  
  {% endblock %}