{% extends 'stockapp/layout.html' %}
{% load static %}

{% block content %}
    <br>
    <form method="POST" action="/stock/balance" id="form_searchbydate">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-3">
                วันที่เริ่ม : <input class="form-control" type="date" id="startdate" name="startdate" >
                    
            </div>
            <div class="col-3">
                  ถึง : <input class="form-control" type="date" id="enddate" name="enddate" >
            </div>
            <div class="col-2">
                <br>
                <button type = "submit" class='btn btn-primary' name ="form_searchbydate">ค้นหา</button>
            </div>
        </div>
    </form>
   
    <table id="table2" class="table table-hover table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Number</th>
          <th scope="col">Item Name</th>
          <th scope="col">Category</th>
          <th scope="col">ฺBalance</th>
          <th scope="col">Receive</th>
          <th scope="col">Consumable</th>
          <th scope="col">Remaining</th>

        </tr>
      </thead>
      <tbody>
        {% for item in itemcodes %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{item.itemnumber}}</td>
          <td>{{item.item_name}}</td>
          <td>{{item.category}}</td>
          <td>{{item.bf}}</td>
          <td>{{item.receive_qty}}</td>
          <td>{{item.issued}}</td>
          <td>{{item.balance}}</td>   
         </tr>
        {% endfor %} 
  
      </tbody> 
    </table>

  
  {% endblock %}